body {
  font-family: sans-serif;
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
}

body div #MainMenu {
  display: grid;
  grid-template-rows: auto 1fr auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

header {
  grid-row: 1 / 2;
  height: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightblue;
}

header ul {
  display: flex;
  list-style: none;
}

header ul button {
  width: auto;
  height: 2em;
  margin: 0.7em;
  background: none;
  border: none;
  outline: none;
  font-weight: bold;
  font-size: 1em;
}

header ul button:hover {
  text-shadow: 0.1em 0.1em 0.5em black;
  cursor: pointer;
}

.main {
  grid-row: 2 / 3;
}
.main h1 {
  padding: 0.7em;
}
footer {
  grid-row: 3 / 4;
  height: 3em;
  background-color: lightblue;
  display: flex;
  align-items: center;
  justify-content: center;
}
