div.mainTables {
  display: grid;
  grid-template-rows: 1em auto;
}

div.mainTables h1 {
  grid-row: 1 / 2;
  padding: 0.5em;
}

div.mainTables div ul {
  list-style: none;
}

div.mainTables div.FlexTables {
  grid-row: 2 / 3;
  display: flex;
  flex-wrap: wrap;
  margin: 2em;
  justify-content: center;
  align-content: center;
}

div.mainTables div.FlexTables div {
  width: 6.1em;
  padding: 1em;
  margin: 1em;
  text-align: left;
  font-size: 1.3em;
  border: 5px solid black;
}
