header {
  grid-row: 1 / 2;
  height: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightblue;
}

header ul {
  display: flex;
  list-style: none;
}

header ul button {
  width: auto;
  height: 2em;
  margin: 0.7em;
  background: none;
  border: none;
  outline: none;
  font-weight: bold;
  font-size: 1em;
}

header ul button:hover {
  text-shadow: 0.1em 0.1em 0.5em black;
  cursor: pointer;
}
